/*changes for mobile*/
@media only screen
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {
        display: block;    
    }

    #version {
        position: fixed;
        right: 0;
        top: 0;
        margin: 0;
        color: gray;
    }

    #site-name {
        display: none;
    }

    #main {
        width: 100%;
    }

    #sidebar {
        flex-direction: row;
        width: 100%;
        height: 10vh;
        position: fixed;
        bottom: 0;
        justify-content: center;
    }

    #sidebar span {
        display: none;
    }

    #sidebar label {
        padding: 2vh;
        font-size: 3vh;
    }

    #nav-elements {
        flex-direction: row;
        height: auto;
    }

    #upper-elements {
        flex-direction: row;
        align-items: center;
    }

    #lower-elements {
        flex-direction: row;
        align-items: center;
    }

    #sign-in-elements {
        flex-direction: row;
        align-items: center;
    }

    #sign-in-main h2 {
        font-size: 8vw;
    }
    
    #sign-in-main h3 {
        font-size: 5vw;
    }
    input[type=text], input[type=password] {
        font-size: 5vw;
    }
    
    input[type=submit] {
        font-size: 5vw;
    }
    
    #sign-in {
        width: 80%;
    }
    
    #create-account {
        width: 80%;
    }
    #create-account label {
        font-size: 6vw;
    }

    #user-settings-main {
        display: none;
    }
    
    #user-info {
        display: flex;
        justify-content: center;
    }
    
    #user-info h3 {
        font-size: 6vw;
    }
    
    #user-info button {
        font-size: 3vw;
    }
    
    #join-squad {
        width: 80%;
    }
    
    #join-squad h2 {
        font-size: 8vw;
    }
    
    #user-settings-squad-name {
        margin-top: 0;
        font-size: 8vw;
    }
    
    .squad-info-sub-section h3 {
        font-size: 6vw;
    }
    
    #squad-info .squad-info-button {
        font-size: 3vw;
    }
    
    #change-squad-password-form {
        display: none;
    }
    
    .member {
        margin-bottom: 1vw;
        height: 5vw;
    }
    
    .member h4 {
        font-size: 3vw;
    }
    
    .icon-button {
        font-size: 3vw; /* Set a font size */
    }


    
    #map-ban-label-squad-name {
        font-size: 8vw;
    }
    
    .member-radio-label {
        font-size: 5vw;
    }
    
    #map-ban-header {
        width: 80%;
    }
    
    #map-ban-header button {
        font-size: 3vw;
    }
    
    #map-ban-status {
        font-size: 4vw;
    }
    
    #ban-list img {
        width: 31%;
        margin: 1%;
    }
    
    #voting {
        display: none;
    }
    
    #voting button {
        width: 60vw;
        height: 34vw;
        background-size: cover;
        border-radius: 9999px;
        border: 1px solid white;
        cursor: pointer;
    }


    
    #operator-bans-main h2 {
        font-size: 8vw;
    }
    
    .dropdown {
        font-size: 4vw;
    }
    
    #operator-bans-main label {
        font-size: 5vw;
    }
    
    #operator-bans-main img {
        height: 40vw;
    }
    
    #operator-bans-main button {
        font-size: 4vw;
        padding: 1vw;
    }
    
    textarea {
        resize: none;
        width: 60vw;
        height: 20vw;
        font-size: 3vw;
    }
    
    #notes-display h5 {
        color: white;
        font-size: 2.5vw;
    }
    
    #notes-display h3 {
        color: white;
        font-size: 3.5vw;
    }



    
    #site-stats-main h2 {
        font-size: 8vw;
    }
    
    .dropdown-label {
        font-size: 4vw;
    }
    
    .site-data-section {
        font-size: 3vw;
        margin: 1vw;
        padding: 1vw;
        border-radius: 2vw;
    }
    
    #site-stat-form label {
        font-size: 4vw;
    
        padding: 1vw;
        width: 20vw;
    }
    
    #submit-div {
        width: 20vw;
        margin: 0 auto;
    }
}