/*Sidebar and nav elements*/
#sidebar {
    width: 20vw;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#site-name {
    font-size: 4vw;
    background-color: #707070;
    padding: 1vw;
    margin: 0;
}

#sidebar-top {
    color: white;
    text-align: center;
}

#nav-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#upper-elements {
    display: none;
    flex-direction: column;
}

#lower-elements {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}

#sign-in-elements {
    display: none;
    flex-direction: column;
}

#sidebar input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

#sidebar label {
    color: white;
    font-size: 2.5vw;
    width: 100%;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    cursor: pointer;
}

#sidebar input[type=radio]:checked+label {
    width: 100%;
    background-color: #3D99FF;
}