/*Header and global elements*/
html, body{
    margin: 0;
    background-color: #333740;
}

body {
    display: flex;
}

#main {
    width: 80vw;
}

/*Sidebad and nav elements*/
#sidebar {
    width: 20vw;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sidebar-top {
    color: white;
    text-align: center;
}

#nav-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#upper-elements {
    display: flex;
    flex-direction: column;
}

#lower-elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#sidebar input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

#sidebar label {
    color: white;
    font-size: 2.5vw;
    width: 100%;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#sidebar input[type=radio]:checked+label {
    width: 100%;
    background-color: #3D99FF;
}

#sign-in-main {
    display: block;
}

#sign-in-main h2 {
    color: white;
    text-align: center;
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
    margin-block-end: 0;
}

#sign-in-main h3 {
    color: white;
    text-align: center;
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6vw;
    line-height: 0;
}

#sign-in-main span {
    color: #3D99FF;
    cursor: pointer;
}

input[type=text], input[type=password], input[type=submit] {
    font-family: "Arial Narrow", Arial, sans-serif;
    width: 100%;
    font-size: 2vw;
    margin-bottom: .5vw;
}

input[type=submit] {
    font-family: Arial, sans-serif;
    color: white;
    padding: 10px;
    border-radius: 99px;
    border: none;
    background-color: #3D99FF;
}

#sign-in {
    display: none;

    background-color: #222222;
    padding: 0 2vw 2vw 2vw;
    border-radius: 3vw;
    width: 60%;
    margin: 0 auto;
}

#create-account {
    display: none;

    background-color: #222222;
    padding: 0 2vw 2vw 2vw;
    border-radius: 3vw;
    width: 60%;
    margin: 0 auto;
}

#platform-div {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
}

#create-account input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

#create-account label {
    color: white;
    font-size: 3vw;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#create-account input[type=radio]:checked+label {
    color: #3D99FF;
}




#user-settings-main {
    display: block;
}

#join-squad {
    width: 40%;
    margin: 0 auto;
}

#join-squad h2 {
    color: white;
    text-align: center;
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    margin-block-end: 0;
}


#map-bans-main {
    display: none;
}

#operator-bans-main {
    display: none;
}

#site-stats-main {
    display: none;
}