/*The user settings page which contains user and squad info*/
#user-settings-main {
    display: none;
}

#loading {
    color: white;
    text-align: center;
    display: none;
}

#user-info {
    display: flex;
    justify-content: center;
}

#user-info h3 {
    color: white;
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    text-align: center;
    margin: 0;
}

#sign-out-button {
    margin-left: 1vw;
}

#user-info button {
    font-family: Arial, sans-serif;
    color: white;
    padding: 10px;
    border-radius: 99px;
    border: none;
    background-color: #3D99FF;
    font-size: 1vw;
}

#join-squad {
    display: block;

    width: 40%;
    margin: 0 auto;
}

#join-squad h2 {
    color: white;
    text-align: center;
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    margin-block-end: 0;
}

#user-settings-squad-name {
    color: white;
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;
    margin-block-end: 0;
}

#squad-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#squad-info-content {
    display: flex;
}

.squad-info-sub-section {
    margin: 2vw;
}

.squad-info-sub-section h3{
    color: white;
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0;
}

#squad-password-div, #members-list {
    background-color: #222222;
    border-radius: 2vw;
    padding: 0 1vw 1vw 1vw;
}

#squad-info .squad-info-button {
    font-family: Arial, sans-serif;
    color: white;
    padding: 10px;
    border-radius: 99px;
    border: none;
    background-color: #3D99FF;
    width: 100%;
    font-size: 1vw;
    margin-top: 1vw;
}

#change-squad-password-form {
    display: none;
}

.member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    height: 5vw;
}

.member h4 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 2vw;
    color: white;
}

.icon-button {
    background-color: #222222; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 2vw; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.member-buttons {
    display: flex;
}

#squad-info p {
    color: white;
    text-align: center;
}