/*Header and global elements*/
html, body{
    margin: 0;
    background-color: #222222;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#squad-name {
    font-family: franklin-gothic-urw-comp, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: #ffffff;

    margin: 0;
}

#squad-name a {
    text-decoration: none;
    color: inherit;
}

#nav-elements {
    display: flex;
    flex-direction: row;
    background-color: #333740;

    width: 60%;
    justify-content: space-between;
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#nav-elements h2 {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav-elements a {
    text-decoration: none;
    color: #3D99FF;
}

#nav-elements a:hover {
    color: #255571;
}

#footer-div {
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
    display: flex;
}

#footer-div a {
    text-decoration: underline;
    color: white;
}